* {
  background:     #1a1b26;
  base:           #121218;
  blue-arch:      #0A9CF5;
  blue:           #889bfa;
  cyan:           #7dcfff;
  green:          #9ece6a;
  highlight:      #414868;
  magenta:        #bb9af7;
  overlay:        #24283b;
  pink:           #e98dd0;
  red:            #eb4f6c;
  subtle:         #585b70;
  surface:        #1a1b26;
  text:           #cdd6f4;
  white:          #ffffff;
  yellow:         #e0af68;
}
